<div class="all">
  <!-- Heading above Quiz -->
<div id="top-cont" class="containerfluid top-cont">
  <h1 id="top-heading"><strong><em>Practice makes you Perfect</em> </strong></h1>
  <h3 *ngIf="mode==='quiz'" id="motivator">Take the quiz and make yourself better</h3>
  <div class="row"></div>
</div>
<div class="row" style="width:100%;" *ngIf="mode!='result' && mode!='review' && mode!='detailresult' ">
  <div class="col-md-12" id="select-quiz" [hidden]="ishidden">
    <p id="select-quiz">Select Quiz:</p>
    <select [(ngModel)]="quizName" (change)="loadQuiz(quizName)">
      <option *ngFor="let quiz of quizes" [value]="quiz.id">{{quiz.name}}</option>
    </select>
  </div>

</div>
<!-- Heading Ends -->


<!-- Quiz Name -->
<div *ngIf="mode==='quiz'">
  <h2 id=quiz-heading>{{quiz.name}}</h2>
  <hr>
</div>
<!-- Quiz Name -->


<!--  Quiz -->
<div id="quiz">
  <div *ngIf="mode=='quiz' && quiz">
    <div *ngFor="let question of filteredQuestions;">
      <div  id="question-number" class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>
      <div id="timer" *ngIf="config.duration" class="badge badge-info float-right">Time: {{ellapsedTime}} / {{duration}}</div>
      <h3 id="questioname" class="font-weight-normal">{{pager.index + 1}}.
        <span  [innerHTML]="question.name"></span>
      </h3>
      <div class="row  options">
        <div class="col-6" *ngFor="let option of question.options">
          <div class="option">
            <label id="options" class="font-weight-normal" [attr.for]="option.id">
              <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected"
                (click)="onSelect(question, option);" /> {{option.name}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <!-- helper buttons -->
    <div class="buttns">
      <button class="btn btn-default" *ngIf="config.moveBack" (click)="goTo(pager.index - 1);">Prev</button>
      <button class="btn btn-primary" (click)="goTo(pager.index + 1);">Next</button>
    </div>
  </div>

  <!-- Quiz Ends -->

  <!-- Review -->

  <div *ngIf="mode==='review'">
    <h1 id="reviewheading">{{quiz.name}} Review mode</h1>
    <div class="buttns" *ngIf="mode=='review'">
      <button id="quiz-btns" class="btn btn-secondary float-up " (click)="mode = 'quiz'">back</button>

    </div>
  </div>


  <div class="row" *ngIf="mode=='review'">
    <!-- Moving to question on clicking -->
    <div class="col-3 review cursor-pointer" *ngFor="let question of quiz.questions; let index = index;">
      <div id="reviewshape"(click)="goTo(index)" class="p-3 mb-2  {{ isAnswered(question) == 'Answered'? 'bg-success': 'bg-warning' }}">
        {{index + 1}}. {{ isAnswered(question) }}
      </div>
    </div>
  </div>

    <!-- Review Ends -->


  <!-- Detail-Result -->

  <div class="result" *ngIf="mode=='detailresult'">
    <h2 style="text-align: center;">Quiz Detailed Result</h2>
    <!-- Retry button -->
    <div class="container-fluid row" style="text-align: center; ">
      <div class="col-md-12">
        <h4 class="alert alert-info text-center">
          <button [routerLink]="['']" class="btn btn-outline-primary" style="text-align: center;">Close<i class="far fa-times-circle"></i></button>
        </h4>
      </div>
    </div>

    <!-- Loop for result-questions -->
    <div *ngFor="let question of quiz.questions; let index = index">
      <div class="result-question">
        <h5 id="question-name">{{index + 1}}) {{question.name}}</h5>
        <div class="row">
          <div class="col-6" *ngFor="let Option of question.options">
            <input id="{{Option.id}}" type="checkbox" disabled="disabled"  [(ngModel)]="Option.selected" /> {{Option.name}}
          </div>
        </div>
        <div class="p-1 m-2 alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is
          {{isCorrect(question)}}.</div>
      </div>
    </div>
    <button (click)="displayResult()"class="btn btn-secondary">Click me to see answers</button>
    <div class="row">
      <div style="margin-top: 2%;" *ngFor="let ans of disans; let index=index">
        <div *ngIf="index<5">
          <ul>
            <li>{{index+1}} : {{ans}}   ||</li>
          </ul>
        </div>
        <div *ngIf="index>=5 &&index!=9">
          <ul >
            <li>{{index+1}} : {{ans}}   ||</li>
          </ul>
        </div>
        <div *ngIf="index==9">
          <ul >
            <li>{{index+1}} : {{ans}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Detail Result Ends -->

  <!-- Score Sheet -->
  <div class="score text-center" *ngIf="mode==='result'">
    <h4 class="alert alert-info text-center">You took a step towards your success</h4>
    <h2>Your score card is given below :-</h2>
    <div style="height:10%;">
      <canvas baseChart
      height="80vh"
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType">
      </canvas>
    </div>

    <div>
      <br>
      <div style=" font-size: large;" >
        Your score is :- {{(correctans/10)*100}}%

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Correct Answers
          <span class="badge bg-primary rounded-pill" style="color: white;">{{correctans}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Incorrect Answers
          <span class="badge bg-primary rounded-pill" style="color: white;">{{10-correctans}}</span>
        </li>
      </ul>
    </div>
    </div>
    <p>To see your detailed result  <button class="btn btn-outline-primary" (click)="onDetailresult()">Click me</button></p>
    <div *ngFor="let question of filteredQuestions">
      <div *ngFor="let option of question.options let index= index">
        <div *ngIf="index==2">
          <button (click)="displayResult()"class="btn btn-secondary">Click me to see answers</button>
        </div>

      </div>
    </div>
    <div class="row">
      <div style="margin-top: 2%;" *ngFor="let ans of disans; let index=index">
        <div *ngIf="index<5">
          <ul>
            <li>{{index+1}} : {{ans}}   ||</li>
          </ul>
        </div>
        <div *ngIf="index>=5 &&index!=9">
          <ul >
            <li>{{index+1}} : {{ans}}   ||</li>
          </ul>
        </div>
        <div *ngIf="index==9">
          <ul >
            <li>{{index+1}} : {{ans}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Scoresheet ends -->

  <!-- Display Answers ends -->

  <hr />

  <div class="buttns" *ngIf="mode!='detailresult'&&mode!='result' && mode!='review' &&mode=='quiz'">
    <button id="review-btns" class="btn btn-info" (click)="mode = 'review'">Review</button>
    <button id="submit-btns" class="btn btn-primary" (click)="onSubmit()">Submit Quiz</button>
  </div>
</div>

</div>
