<div class="jumbotron jumbotron-fluid" style="margin-bottom: 0px;">
  <div class="container">
    <h1 class="display-3">About Us</h1>
    <p class="lead">We help you acheive excellence.</p>
    <p>Take our tests and master in your field</p>
    <!-- <hr > -->
    <table class="table table-stripped">
      <thead>
        <tr>
          <td id="thead" colspan="7">Days we operate</td>
        </tr>

      </thead>
      <tbody >
        <tr>
          <td id="tbody">Monday</td>
          <td id="tbody">Tuesday</td>
          <td id="tbody">Wednesday</td>
          <td id="tbody">Thursday</td>
          <td id="tbody">Friday</td>
          <td id="tbody">Saturday</td>
          <td id="tbody">Sunday</td>
        </tr>
        <tr>
          <td id="time">0900-1800 hrs</td>
          <td id="time">0900-1800 hrs</td>
          <td id="time">0900-1800 hrs</td>
          <td id="time">0900-1800 hrs</td>
          <td id="time">0900-1800 hrs</td>
          <td colspan="2" style="text-align: center;"> Closed on Weekends</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
