
<div class="jumbotron " style="margin-bottom: 0px;">
  <h1 class="display-4" style="text-align: center; font-weight: bolder ; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Contact Us</h1>
  <p class="lead">Please fill the below details to contact us</p>
  <hr class="my-2">
  <form [formGroup]='contactForm' (ngSubmit)='show()' >
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationDefault01">First name</label>
        <input type="text" formControlName='fname' class="form-control" required>
        <span class="text-danger" *ngIf="contactForm.get('fname')?.hasError('required')">This is required filed</span>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault02">Last name</label>
        <input type="text" formControlName="lname" class="form-control">
        <span class="text-danger" *ngIf="contactForm.get('lname')?.hasError('required')">This filed is required</span>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationDefault03">City</label>
        <input type="text" formControlName="city" class="form-control">
        <span class="text-danger" *ngIf="contactForm.get('city')?.hasError('required')">This filed is required</span>

      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault04">State</label>

        <select type="text" formControlName="state" class="form-control">
          <option selected disabled value="">Choose...</option>
          <option>Uttar Pradesh</option>
          <option>Madhya Pradesh</option>
          <option>Arunachal Pradesh</option>
          <option>Delhi</option>
          <option>Bihar</option>
        </select>
        <span class="text-danger" *ngIf="contactForm.get('state')?.hasError('required')">This filed is required</span>

      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault05">Zip</label>
        <input type="text" formControlName="zip" class="form-control">
        <span class="text-danger" *ngIf="contactForm.get('zip')?.hasError('required')">This filed is required</span>

      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationDefault03">Domain of test you want</label>
        <input type="text" formControlName="domain" class="form-control">
        <span class="text-danger" *ngIf="contactForm.get('domain')?.hasError('required')">This filed is required</span>

      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" formControlName="terms" class="form-check-input">
        <label class="form-check-label" for="invalidCheck2">
          Agree to terms and conditions
        </label><br>
        <span class="text-danger" *ngIf="contactForm.get('terms')?.hasError('required')
          || !contactForm.get('terms')?.value">This filed is required</span>
      </div>
    </div>

    <button class="btn btn-primary" type="submit"  *ngIf="contactForm.status=='INVALID'
    || !contactForm.get('terms')?.value;else elsetemplate" disabled>Submit form</button>
    <ng-template #elsetemplate>
      <button type="submit" class="btn btn-primary">Submit</button>
    </ng-template>

  </form>

</div>
<app-footer></app-footer>


