<div>

  <div class="container-fluid text-center a">

    <!--heading-->
    <h1>Take Step Forward With Us!!</h1>
    <h3>&quot; Practice will make you perfect &quot;</h3>
    <!--heading ends-->

    <!--Offer cards starts-->
    <div class="container-fulid" id="offer" >
      <!--offer heading-->
      <h2>What do we offer!!</h2>
      <!--offer heading ends-->
      <hr id="hrid1">

      <!-- offer cards starts-->
      <div class="row ">
        <!--Offer 1-->
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-body">
              <h2 class="card-title">Multiple Tests</h2>
              <p class="card-text">We offer different tests for you in multiple domain.</p>
              <p>Click Below to contact us for the test you want</p>
              <a href="" [routerLink]="['/contact']" class="btn btn-primary"> Contact Us</a>
            </div>
          </div>
        </div>
        <!--Offer 1 ends-->

        <!--Offer 2-->
        <div class="col-sm-4 d-flex">
          <div class="card text-center">
            <div class="card-body  flex-fill">
              <h2 class="card-title">Evaluate yourself</h2>
              <p class="card-text"><p> We wil tell you your score. Provide you with detailed
                result of your test.</p>
                <p> <strong>Time based test will help you keep up the pace and
                  get an experience how to face real world tests.</strong>
              </p>
            </div>
          </div>
        </div>
        <!--Offer 2 ends-->

        <!--Offer 3-->
        <div class="col-sm-4 d-flex">
          <div class="card text-center">
            <div class="card-body flex-fill">
              <h2 class="card-title">Check Answers</h2>
              <p class="card-text">We provide you with an option to cross check
                yourself by displaying the answers.
              </p>
            </div>
          </div>
        </div>
        <!--Offer 3 ends-->
      </div>
    </div>
    <!--Offer cards ends-->

    <!--Test cards start-->
    <div class="container-fluid" style="padding-bottom: 3%;">
      <!--Test heading-->
      <hr class="my-2">
      <h2 style="text-align: center;" id="quizheading">Quiz we offer</h2>
      <button [routerLink]="['/info']" class="btn btn-success btn-large" style="margin-bottom: 2%;">Take Quiz</button>

      <div class="row">
        <!--Test 1 card-->
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-header">Test 1</div>
            <div class="card-body">
            <h2 class="card-title">
              <img style="width: 13.25em; height: 6.3em;" src="https://i.pinimg.com/736x/4d/13/d5/4d13d55d6d0b38b7a4e85fcf97ff6279.jpg" alt="pythonlogo">
              <br> Python</h2>
            <p class="card-text">This test will help you achieve perfection in Python</p>
            <!-- <button  class="card-text btn btn-primary"style="margin-bottom: 2%;">Click here to take test</button> -->
            <div class="card-footer">Updated 2 days ago</div>
            </div>
          </div>
        </div>
        <!--Test 1 card ends-->

        <!--Test 2 card-->
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-header">Test 2</div>
            <div class="card-body">
            <h2 class="card-title">
              <img style="width: 13.25em; height: 6.3em;" src="https://i.pinimg.com/originals/e9/94/61/e99461fdd5b3db8bdb3081d8acf5e524.png" alt="javalogo">
              <br> Java</h2>
            <p class="card-text">This test will help you achieve perfection in Java</p>
            <!-- <a  [routerLink]="['java']" class="card-text btn btn-primary" style="margin-bottom: 2%;">Click here to take test</a> -->
            <div class="card-footer">Updated 4 days ago</div>
            </div>
          </div>
        </div>
        <!--Test 2 card ends-->

        <!--Test 3 card-->
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="card-header">Test 3</div>
            <div class="card-body">
            <h2 class="card-title">
              <img style="width: 13.25em; height: 6.3em;" src="https://thumbs.dreamstime.com/b/sql-database-web-language-programming-designing-logo-monogram-symbol-sites-banners-171784940.jpg" alt="">
              <br> SQL</h2>
            <p class="card-text">This test will help you achieve perfection in SQL</p>
            <!-- <button  class="card-text btn btn-primary"style="margin-bottom: 2%;">Click here to take test</button> -->
            <div class="card-footer">Updated 1 day ago</div>
            </div>
          </div>
        </div>
        <!--Test 3 card ends-->
      </div>
    </div>
    <!--Test cards ends-->

  </div>

  <app-footer></app-footer>
</div>


